#
# .coveragerc to control coverage.py
#

[run]
branch = True
omit = 
    setup.py
    iris_grib/tests/*
    .eggs/*


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
