prune .github
prune .nox
prune docs
prune requirements
recursive-include requirements *.txt
recursive-include src *.cml *.grib2 *.json *.nc *.py

exclude .coveragerc
exclude .flake8
exclude .git-blame-ignore-revs
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .ruff.toml
exclude CODE_OF_CONDUCT.md
include *.md
include *.py
