# Updates the environment lock files. See the called workflow in the
# scitools/reusable_workflows repo for more details.
name: Refresh Lockfiles


on:
  workflow_dispatch:
  schedule:
    - cron: "2 0 * * 6"

jobs:
  refresh_lockfiles:
    uses: scitools/workflows/.github/workflows/refresh-lockfiles.yml@2024.07.2
    secrets: inherit
